.THIS .customBoxStart {
    border-bottom: 1px;
    background: rgb(243, 242, 242);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.THIS .customBoxEnd {
    border-top: 1px;
    background: rgb(243, 242, 242);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.THIS .customBoxBody {
    border-bottom: 1px;
    border-top: 1px;
    background: rgb(243, 242, 242);
}

.THIS .customInnerBoxBody {
    border-bottom: 1px;
    border-top: 1px;
    border-left: 1px;
    border-right: 1px;
    background: rgb(243, 242, 242);
}

.THIS .customBoxFiller {
    width:11.9%;
    border-bottom: 1px;
    border-top: 1px;
    border-left: 1px;
    border-right: 1px;
    background: rgb(243, 242, 242);
    border-radius:0;
}

.THIS .customBoxFiller2 {
    width:13.1%;
    border-bottom: 1px;
    border-top: 1px;
    border-left: 1px;
    border-right: 1px;
    background: rgb(243, 242, 242);
    border-radius:0;
}

.THIS .customPadding {    
    margin-left: 7rem;
}

.THIS .selectedDiv {
    background-color:rgb(0, 112, 210)  ;
}

.THIS .proLine{
    border-bottom: thick solid green;
    margin-right: 2%;
    margin-left: 2%;
}

.THIS .antiLine{
    border-bottom: thick solid red;
    margin-right: 2%;
    margin-left: 2%;
}

.THIS .unknownLine{
    border-bottom: thick red dashed;
    margin-right: 2%;
    margin-left: 2%;
    
}

.THIS .moveUpIcon{
    margin-top: 0.5em;
    margin-left: .5em;
    margin-bottom: 3em;

}

.THIS .moveDownIcon{
    margin:2.5em 1em 0 -1.2em;
}

.THIS .moveUpSCMIcon{
    margin: .5em 0 3em 0.7em;
}

.THIS .view
.THIS #diagramContainer{
    -webkit-transform:scale(1);
    -moz-transform:scale(1);
    -ms-transform:scale(1);
    -o-transform:scale(1);
    transform:scale(1);
}