.THIS .container .slice , .THIS .container.p50plus .slice
{
    clip: rect(auto, auto, auto, auto);
}
.THIS .pie, .THIS .container .bar , .THIS .fill, .THIS .container.p50plus .fill{
    position: absolute;
    border: 0.08em solid #307bbb;
    width: 0.84em;
    height: 0.84em;
    clip: rect(0em, 0.5em, 1em, 0em);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}
.THIS .pie-fill, .THIS .container.p50plus .bar:after, .THIS .container.p50plus .fill{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
.THIS .container {
    position: relative;
    font-size: 120px;
    width: 1em;
    height: 1em;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    float: left;
    margin: 0 0.1em 0.1em 0;
    background-color: #cccccc;
}
.THIS .container *, .THIS .container *:before, .THIS .container *:after {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
.THIS .container.center {
    float: none;
    margin: 0 auto;
}
.THIS .container.small {
    font-size: 60px;
}
.THIS .container:after {
    position: absolute;
    top: 0.08em;
    left: 0.08em;
    display: block;
    content: " ";
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    background-color: whitesmoke;
    width: 0.84em;
    height: 0.84em;
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-in;
    -moz-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
}
.THIS .container .slice {
    position: absolute;
    width: 1em;
    height: 1em;
    clip: rect(0em, 1em, 1em, 0.5em);
}
.THIS .container.red .bar, .THIS .container.red .fill {
    border-color: red !important;
}
.THIS .container.green .bar, .THIS .container.green .fill {
    border-color: green !important;
}
.THIS .container.orange .bar, .THIS .container.orange .fill {
    border-color: orange !important;
}

.THIS .slds-item_label{
    font-weight:900;
    font-size: 16px;
}
.THIS .slds-item_label1{
    font-size: 13px !important;
}
.THIS .slds-icon_margin{
    margin-left:20px;
}
.THIS .slds-iconShow{
    margin-top:-22px;
    margin-left:55%;
}